* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body::-webkit-scrollbar {
    width: 0
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(255, 255, 255, 0)
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(red, #00f);
    outline: 0 solid #708090
}

body.JORA {
    font-family: sans-serif
}

body.JORA nav {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    background: #ccc
}

body.JORA header {
    height: calc(100vh - 40px - 1rem);
    width: 100%;
    padding: 20px;
    margin: 5px 0;
    background: #ccc
}

body.JORA .container {
    display: grid;
    grid-template-columns: auto 300px;
    grid-gap: 5px;
    margin: 5px 0
}

body.JORA .container main {
    height: 70vh;
    width: 100%;
    background: #ccc;
    padding: 20px
}

body.JORA .container .sidebar {
    height: auto;
    min-height: 100px;
    width: 300px;
    background: #ccc;
    padding: 20px
}

body.JORA .photos {
    padding: 0 50px 0 50px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: #ccc;
    margin: 5px 0
}

body.JORA .photos h2 {
    font-size: 2rem;
    width: auto;
    text-align: center;
    margin: 30px 0;
    grid-column: 1/span 3
}

body.JORA .photos .pics {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px
}

body.JORA .photos .pics .pic-1,
body.JORA .photos .pics .pic-2,
body.JORA .photos .pics .pic-3 {
    width: 250px;
    border: 1px solid #fff;
    aspect-ratio: 3/4;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    background-image: linear-gradient(to top left, #aaa, #888);
    box-shadow: 0 0 10px rgba(0, 0, 0, .616)
}

body.JORA footer {
    font-size: 1rem;
    padding: 20px 0;
    text-align: center;
    background: #ccc
}

@media only screen and (max-width:600px) {
    body.JORA .container {
        grid-template-columns: 1fr
    }
    body.JORA .container main {
        width: 100%;
        min-height: 100px
    }
    body.JORA .container .sidebar {
        width: 100%;
        min-height: 200px
    }
    body.JORA .photos .pics {
        gap: 50px
    }
}